@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("object/latarmasuk.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(75, 70, 70, 0.1);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #a8a4a4;
}
::-webkit-input-placeholder{
    color: #a8a4a4;
    ;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(182, 182, 182, 0.7);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #000000;
}

.icon {
    position: absolute;
    left: 543px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
}