/* HEADER */
.header {
    align-items: center;
    background-color: #FEF0D6;
    display: flex;
    flex-direction: row;
    height: 73px;
    justify-content: space-between;
    left: 69px;
    min-width: 1920px; 
    position: fixed;
    top: 69px;
    width: auto;
}

header .top {
    max-width: 100%;
    padding: 10px;
    background-color: transparent;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    height: 90%;
}

.title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    letter-spacing: 0; 
    line-height: normal;
    min-height: 68px;
    white-space: nowrap;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-nav .btn {
  margin-left: 30px;
}

/* homepage */
.container {
    display: flex;
    margin-top: 20px;
  }
  
  .left-section {
    margin-left: 130px;
    text-align: left;
    margin-top: 70px;
  }
  
  .right-section {
    margin-left: 210px; /* Menambahkan jarak tengah antara teks dan gambar */
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .make {
    font-size: 48px;
  }
  
  .your-own {
    font-size: 48px;
  }
  
  .good-mood {
    font-size: 48px;
  }
  
  .button {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-image: url(object/Rectangle\ 7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .read-more {
    margin-left: 30px;
    font-size: 16px;
  }
  
  .mbak {
    height: 520px;
    width: 630px;
  }

/* Review */
  .reviews {
    background-image: url(object/box\ review.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
    color: #fff;
    margin-left: 65px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #fff;
    margin-bottom: 20px;
  }
  
  .testimonial h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .testimonial p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Quotes */
  .image-text-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 110px;
  }
  
  .image-text-container img {
    height: 410px;
    width: 520px;
  }
  
  .image-text-container p {
    text-align: left;
    margin-right: 180px;
    font-size: 20px;
  }
  
  /* Selfcare */
  .selfcare {
    padding: 20px;
  }
  
  .section-title {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .section-title h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .section-title h3 {
    font-size: 18px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .image-card {
    text-align: center;
  }
  
  .image-card img {
    width: 50%;
    height: auto;
  }
  
  .image-card p {
    margin-top: 20px;
    font-size: 18px;
  }
  
  /* Subscribe */
  .subscribe {
    background-image: url(object/frame\ subs.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: left;
    color: #000000;
    margin-top: 30px;
    width: 1100px;
    height: 400px;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  
  .subscribe-content {
    max-width: 550px;
    margin: 0 auto;
    margin-right: 80px;
  }
  
  .subscribe-content h2 {
    margin-top: 150px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .subscribe-content p {
    font-size: 16px;
  }
  
  .input-group {
    display: flex;
    margin-top: 20px;
  }
  
  .input-group input[type="email"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  .input-group button[type="submit"] {
    background-image: url(object/subscribe.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: #FEF0D6;
    cursor: pointer;
  }
  
  /* footer */
  footer {
    background-color: #FEF0D6;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-line {
    height: 1px;
    background-color: rgb(255, 196, 0);
    margin-bottom: 20px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .social-media a {
    margin-left: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
  }

  .footer-copyright {
    font-size: 12px;
    color: #000000;
    margin-top: 10px;
  }
  

  /* Sign Up */

  .bodyy{
    background-image: url("object/latar.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

.frame-6 {
    align-items: flex-start;
    background-color:#fef0d6;
    border: 1px none;
    display: flex;
    height: 1080px;
    padding: 63px 35px;
    width: 1920px;
  }

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
    
  .overlap-group1 {
    height: 915px;
    position: relative;
    width: 1822px;
  }
    
   .frame-6 .group {
    display: flex;
    height: 24px;
    position: absolute;
   }

   .group-6 {
    align-items: center;
    left: 672px;
    min-width: 509px;
    top: 604px;
   }
        
.forget-your-password {
    color: #e69900;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 130px;
    min-height: 24px;
    width: 217px;
}
        
.rectangle-24 {
    border: 1px solid;
    border-color: #acacac;
    height: 17px;
    margin-bottom: 3px;
    width: 17px;
}
        
.remember-me {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 7px;
    min-height: 24px;
    width: 134px;
}

.email {
    left: 708px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 417px;
    white-space: nowrap;
    width: 217px;
}
    
.group-4 {
    align-items: flex-start;
    left: 718px;
    min-width: 417px;
    top: 770px;
}
    
.already-have-an-account {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxs);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
    width: 272px;
}
    
.login-here {
    color: #e79900;
    font-family: var(--font-family-montserrat) ;
    font-size: var(--font-size-m) ;
    font-weight: 600;
    letter-spacing: 9;
    line-height: normal;
    min-height: 24px;
    width: 141px;
}

.overlap-group {
    -webkit-backdrop-filter: blur(30px)
    brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(30px)
    brightness(100%);
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.4) 
    0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 36px;
    box-shadow: 0px 4px 20px -1px #00000033;
    display: flex;
    height: 70px;
    left: 815px;
    min-width: 219px;
    padding: 19px 53px;
    position: absolute;
    top: 664px;
}

.sign-up {
    color: #8e8d8d;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    min-height: 31px;
    white-space: nowrap;
}

.title {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxx1);
    font-weight: 700;
    left: 852px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 167px;
}
    
.rectangle-20 {
    -webkit-backdrop-filter: blur(30px)
    brightness(100%);
    backdrop-filter: blur(30px)
    brightness(100%);
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.4) 0%, rgba(255, 255,
    255, 0.1) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom,
    rgb(254, 248, 214), rgb(254, 240, 214)
    51.11%, rgba(0, 0, 0, 0) 100%) 1;
    border-radius: 31px;
    box-shadow: 0px 4px 20px -1px #00000033;
    height: 730px;
    left: 415px;
    position: absolute;
    top: 112px;
    width: 1019px;
}

.rectangle-21 {
    -webkit-backdrop-filter: blur(30px)
    brightness(100%) ;
    backdrop-filter: blur(30px)
    brightness(100%);
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 
    0.1) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, 
    rgb(203, 203, 203), rgb(170.45, 169.64, 168.14) 
    51.11%, rgba(227.83, 212.13, 182.97, 0) 100%) 1;
    border-radius: 40px;
    box-shadow: 0px 4px 20px -1px #00080033;
    height: 81px;
    left: 652px;
    position: absolute;
    top: 389px;
    width: 546px;
}

.young-boys-and-young-girl-jumping {
    height: 415px;
    width: 405px;
    left: 0; 
    position: absolute;
    top: 340px;
    bottom: 0;
}

.adding-new-user-window {
    height: 378px;
    left: 1286px;
    position: absolute;
    top: 0;
    width: 536px;
}

.password {
    left: 697px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 534px;
    white-space: nowrap;
    width: 217px;
}

.rectangle-22 {
    -webkit-backdrop-filter: blur(30px)
    brightness(100%);
    backdrop-filter: blur(30px)
    brightness(100%) ;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.4) 0%, 
    rgba(255, 255, 255, 0.1) 108%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, I
    rgb(203, 203, 203), rgb(170.45, 169.64, 168.14) 51.11%, 
    rgba(227.83, 212.13, 182.97, 0) 100%) 1;
    border-radius: 40.5px;
    box-shadow: 0px 4px 20px -1px #00000033 ;
    height: 81px;
    left: 651px;
    position: absolute;
    top: 506px;
    width: 546px;
}

.rectangle-25 {
    -webkit-backdrop-filter: blur(30px)
    brightness(100%);
    backdrop-filter: blur(30px)
    brightness(100%);
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.4) 0%, 
    rgba(255, 255, 255, 0.1) 100%);
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, 
    rgb(203, 203, 203), rgb(170.45, 169.64, 168.14) 
    51.11%, rgba(227.83, 212.13, 182.97, 0) 100%) 1;
    border-radius: 40px;
    box-shadow: 0px 4px 20px -1px #00000033;
    height: 81px;
    left: 651px;
    position: absolute;
    top: 274px;
    width: 546px;
}

.username {
    left: 787px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 300px;
    white-space: nowrap;
    width: 217px;
}
